<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <br><br><br>
      <div class="container">
        <ul>
          <li *ngFor="let item of data">
            {{ item.id }} = {{ item.title }}<br>
              {{ item.body }}
          </li>
        </ul>
          <select [(ngModel)]="selectedItem" (ngModelChange)="itemChanged($event)">
              <option *ngFor="let item of data" [value]="item.id">{{item.title}}</option>
          </select>
          {{selectedItem}}
          <br>
          <input type="radio" value="m" name="gender" [(ngModel)]="gender"> M <br>
          <input type="radio" value="f" name="gender" [(ngModel)]="gender"> F <br>
<br>
          <input type="checkbox" name="isActivate" [(ngModel)]="isActivate"><br>
          {{isActivate|json}}
      </div>
    </div>
  </div>
</div>
